<footer id="footer">
    <div class="container">

        <div class="row">

            <!-- col #1 -->
            <div class="spaced logo_footer col-md-4 col-sm-4">
                    <img alt="" data-ng-src="../../Content/images/DigitalPatrickLogo.png" height="90" width="200" class="logo" />

                    <p class="block">
                        10620 N 26 St.<br />
                        Tampa FL 33612<br />
                        Email: digitalpatrick@outlook.com<br />
                        Phone: 813 300 8033<br />
                    </p>

                    <social-networks></social-networks>

                </div>
                <!-- /col #1 -->
                <!-- col #2 -->
                <div class="spaced col-md-8 col-sm-8">

                    <div class="row">

                        <div class="col-md-8 hidden-sm hidden-xs">

                            <h4>About <strong>Us</strong></h4>

                            <p>
                                Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
                            </p>

                        </div>

                        <div class="col-md-4">
                            <h4>Secure <strong>Payment</strong></h4>
                            <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet.</p>
                            <p>
                                <!-- see assets/images/cc/ for more icons -->
                                <img src="assets/images/cc/Visa.png" alt="" />
                                <img src="assets/images/cc/Mastercard.png" alt="" />
                                <img src="assets/images/cc/Maestro.png" alt="" />
                                <img src="assets/images/cc/PayPal.png" alt="" />
                            </p>
                        </div>

                    </div>

                </div>
                <!-- /col #2 -->

            </div>

    </div>

    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.digitalpatrick.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">DigitalPatrick</a> &bull; All Right Reserved &copy; DigitalPatrick Online Solutions. &nbsp;
            <a href="#/privacy" class="fsize11">Privacy Policy</a> &bull;
            <a href="#/termsofservice" class="fsize11">Terms of Service</a>
        </div>
    </div>
</footer>
