<div class="callout dark">
    <!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
    <div class="container wow wobble">
        <div class="row">
            <div class="col-md-9">
                <!-- title + shortdesc -->
                <h3>Has DigitalPatrick Convinced you?</h3>
                <p>If so, click to buy now, including <strong>lifetime upgrades</strong> and <strong>lifetime support</strong> for free!</p>
            </div>
            <div class="col-md-3">
                <!-- button -->
                <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">Purchase Now</a>
            </div>
        </div>
    </div>
</div>
